### Symfony ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php

### Dependencies ###
/vendor/

### Cache ###
/var/

### Uploads ###
/public/image/portfolio_media/*
!/public/image/portfolio_media/.gitkeep

### PHPUnit ###
/.phpunit.cache

### PHP CS Fixer ###
/.php-cs-fixer.cache

### PHPStan ###
/.phpstan/
phpstan-result-cache.php

### IDE ###
/.idea/
/.vscode/

### OS ###
.DS_Store